@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}



body, html{
   height: 100%;
}

li{
    list-style: none;
}

button{
    border: none;
}

.blur{
    filter: blur(2px);
}

header{
    background-color: #115e59;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Nunito", sans-serif;
}

.content{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.sidebar{
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.sidebar li{
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.sidebar li button{
    background-color:#f7f7f7;
    width: 24px;
    height: 24px;
}

.sidebar li:hover{
    color:#115e59;
}


.sidebar button{
    border: none;
    background-color: #0d9488;
    color: white;
    font-weight: bold;
    width: 60%;
    height: 2rem;
    border-radius: 5px;

}

.main{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 2rem;
    padding-top: 1rem;
}

.main button{
    color: black;
    font-size: 1.5rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    align-self: flex-start;
}

.main button:hover{
    color:#0d9488;
}

.main li{
    font-size: 1.5rem;
}

.main .task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
    border-bottom: 1px solid #3f3f3f1e;
    padding-top: 5px;
    padding-bottom: 10px;
}

.main .task button{
    background-color: white;
    font-size: 1rem;
    justify-self: flex-end;
    align-self: center;
    width: 24px;
    height: 24px;
    padding-bottom: 0px;
}

.main .task button:hover{
    scale: 1.15;
}

.popup-window{
    position: fixed;
    top: 25%;
    left: 25%;
    /* width: 50vh;
    height: 50vh; */
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.123);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 10px;
}

.popup-window-top{
    display: flex;
    justify-content: space-between;
}

.hidden{
    display: none;
}

.active-project{
    color: #115e59;
    scale: 1.2;
}

.view{
    background-image: url("./icons/view.svg");
}

.edit{
  background-image: url("./icons/edit.svg");
}

.delete{
 background-image: url("./icons/delete.svg");
}

.close{
    background-image: url("./icons/close.svg");
    width: 24px;
    height: 24px;
    background-color: white;
}
.close:hover{
    scale: 1.15;
}

.submit{
    background-color: #0d9488;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    width: 50px;
    height: 24px;
    align-self: center;
}

button:hover{
    scale: 1.10;
}
